.Header {
	padding: 1rem 3rem;
	position: sticky;
	top: 0;
	display: grid;
	grid-template-columns: repeat(3, auto);
	justify-content: space-between;
	box-shadow: 0 2px 5px var(--shadow-color);
	background: #fff;
	z-index: 99;
}

.Header > div {
	align-self: center;
}

.Header_menu {
	padding: 0;
	display: grid;
	grid-auto-flow: column;
	gap: 3rem;
	list-style: none;
	height: 100%;
	align-items: center;
}

.Header_menu > li {
	cursor: pointer;
	font-size: 22px;
	font-weight: 500;
	line-height: 180%;
	background: var(--active-element);
	padding: 0.3rem 1rem;
	border-radius: 1rem;
	color: rgb(245, 245, 245);
	box-shadow: 1px 1px 1px var(--shadow-color);
}
