.Header {
	padding: 1rem 3rem;
	display: grid;
	grid-template-columns: repeat(3, auto);
	justify-content: space-between;
	box-shadow: 0 2px 5px var(--shadow-color);
}

.Header > nav > menu {
	padding: 0;
	display: grid;
	grid-auto-flow: column;
	gap: 2rem;
	list-style: none;
}
