.UserInfo {
	align-self: end;
	display: grid;
	grid-template-columns: var(--avatar-size) auto;
	grid-template-columns: repeat(2, auto);
	grid-template-areas: "avatar username" "avatar status";
	gap: 0.3rem;
}

.UserInfo_avatar {
	grid-area: avatar;
	width: var(--avatar-size);
	height: var(--avatar-size);
	border-radius: 50%;
	background: var(--active-element);
	display: grid;
	justify-content: center;
	align-items: center;
	font-size: 24px;
	font-weight: 700;
	color: rgb(245, 245, 245);
}

.UserInfo_username {
	grid-area: username;
	align-self: end;
	font-size: 20px;
	font-weight: 500;
}

.UserInfo_status {
	grid-area: status;
	align-self: start;
	color: var(--secondary-color);
}
