@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@900&display=swap");

:root {
	--header-height: 100px;
	--outlet-height: calc(100vh - var(--header-height));
	--shadow-color: rgba(40, 40, 40, 0.5);
	--active-element: rgba(0, 128, 128, 1);
	--avatar-size: 50px;
	--secondary-color: rgb(70, 70, 70, 0.8);
	--header-text-color: rgb(245, 245, 245);
}

* {
	box-sizing: border-box;
	margin: 0;
}

body {
	font-family: "Roboto", sans-serif;
	font-size: 16px;
	font-weight: 400;
}

#root {
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: var(--header-height) minmax(var(--outlet-height), auto);
}

.container {
	margin: 0 auto;
	padding: 3rem 1rem;
	width: 85vw;
}

.paginationElement {
	display: grid;
	justify-content: center;
	padding: 2rem;
}
